<ul class="m-menu">
    <li>
        <a href="javascript:void(0)" class="m-menu-btn">超级管理员</a>
        <div class="menu-btns">
            <a href="javascript:void(0)" class="a-btn a-btn-details btn-role-details"></a>
            <a href="javascript:void(0)" class="a-btn a-btn-delete btn-role-delete"></a>
        </div>
    </li>
    <li>
        <a href="javascript:void(0)" class="m-menu-btn">巡课人员</a>
        <div class="menu-btns">
            <a href="javascript:void(0)" class="a-btn a-btn-details btn-role-details"></a>
            <a href="javascript:void(0)" class="a-btn a-btn-delete btn-role-delete"></a>
        </div>
    </li>
    <li>
        <a href="javascript:void(0)" class="m-menu-btn">校长</a>
        <div class="menu-btns">
            <a href="javascript:void(0)" class="a-btn a-btn-details btn-role-details"></a>
            <a href="javascript:void(0)" class="a-btn a-btn-delete btn-role-delete"></a>
        </div>
    </li>
    <li>
        <a href="javascript:void(0)" class="m-menu-btn">班主任</a>
        <div class="menu-btns">
            <a href="javascript:void(0)" class="a-btn a-btn-details btn-role-details"></a>
            <a href="javascript:void(0)" class="a-btn a-btn-delete btn-role-delete"></a>
        </div>
    </li>
    <li>
        <a href="javascript:void(0)" class="m-menu-btn">教师</a>
        <div class="menu-btns">
            <a href="javascript:void(0)" class="a-btn a-btn-details btn-role-details"></a>
            <a href="javascript:void(0)" class="a-btn a-btn-delete btn-role-delete"></a>
        </div>
    </li>
</ul>