<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honghe.deviceNew.dao.DeviceLogMapper" >
  <resultMap id="BaseResultMap" type="com.honghe.deviceNew.entity.DeviceLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_ip" property="deviceIp" jdbcType="VARCHAR" />
    <result column="log_time" property="logTime" jdbcType="INTEGER" />
    <result column="log_desc" property="logDesc" jdbcType="VARCHAR" />
    <result column="device_type" property="deviceType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, device_name, device_ip, log_time, log_desc, device_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from device_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from device_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.honghe.deviceNew.entity.DeviceLog" >
    insert into device_log (log_id, device_name, device_ip, 
      log_time, log_desc, device_type
      )
    values (#{logId,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{deviceIp,jdbcType=VARCHAR}, 
      #{logTime,jdbcType=INTEGER}, #{logDesc,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.honghe.deviceNew.entity.DeviceLog" >
    insert into device_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceIp != null" >
        device_ip,
      </if>
      <if test="logTime != null" >
        log_time,
      </if>
      <if test="logDesc != null" >
        log_desc,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null" >
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        #{logTime,jdbcType=INTEGER},
      </if>
      <if test="logDesc != null" >
        #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.honghe.deviceNew.entity.DeviceLog" >
    update device_log
    <set >
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null" >
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="logTime != null" >
        log_time = #{logTime,jdbcType=INTEGER},
      </if>
      <if test="logDesc != null" >
        log_desc = #{logDesc,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.honghe.deviceNew.entity.DeviceLog" >
    update device_log
    set device_name = #{deviceName,jdbcType=VARCHAR},
      device_ip = #{deviceIp,jdbcType=VARCHAR},
      log_time = #{logTime,jdbcType=INTEGER},
      log_desc = #{logDesc,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>